# The Xata Postgres connection string
DATABASE_URL="postgresql://[USER]:[PASSWORD]@[WORKSPACE_ID].[REGION].xata.sh/db/[DB_NAME]:[BRANCH]?sslmode=require"
# For Xata, DIRECT_URL can usually be the same as DATABASE_URL, or you can remove it from schema.prisma
DIRECT_URL="postgresql://[USER]:[PASSWORD]@[WORKSPACE_ID].[REGION].xata.sh/db/[DB_NAME]:[BRANCH]?sslmode=require"
